body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  list-style-type: none;
  text-decoration: none;
}

/* header start */
.head {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  width: 1440px;
  height: 72px;
}

.container-head {
  align-items: center;
  display: flex;
}

.link-list {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 24px;
}

.adress {
  display: flex;
}

.navi {
  display: flex;
  align-items: center;
}

.nav-list-list {
  margin: 0;
  padding-left: 0;
}

.last .nav-list {
  margin-right: 0;
  margin-left: 300px;
}

.adress {
  font-style: normal;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.adress-link {
  display: flex;
  gap: 40px;
  margin-left: 100px;
}

.link-link {
  display: inline-block;
  margin-right: 76px;
  padding-left: 156px;
  color: #4d5ae5;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 0 24px 156px;
}

.logo-studio {
  font-family: 'Raleway', sans-serif;
  color: #2e2f42;
  background-color: transparent;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 24px 0 24px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}

.link-link:hover,
.link-link:focus {
  color: #404bbf;
}

.logo-studio:hover,
.logo-studio:focus {
  color: #404bbf;
}

.navigation {
  display: flex;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.info {
  display: flex;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  list-style-type: none;
  text-decoration: none;
}

.info:hover,
.info:focus {
  color: #404bbf;
}

/* header finish */
/* HERO1start*/
.hero-section {
  background: #604ba8;
  background-image: url("../images/office\ .jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  padding: 188px 0 188px;
}

.hero-title {
  max-width: 496px;

  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.push-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

.push-button:hover {
  background-color: #404bbf;
}

.push-button:focus {
  background-color: #404bbf;
}

.topic {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  padding-top: 32px;
  margin-bottom: 8px;
}

.description {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* section2 start */
.section-feature {
  padding: 120px 0 120px;
}

.text-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.advantage-item {
  width: calc((100% - (24px * 3)) / 4);
}

/* our team */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-image {
  width: 100%;
  object-fit: cover;
}

.team-descr {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.team-position {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  gap: 24px;
  text-decoration: none;
  padding: 120px 0 120px 0;
}

.portfolio-toper {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  border-radius: 0 0 4px 4px;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  width: 360px;
  height: 420px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}

.products {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-bottom: 8px;
}

.product-type {
  display: flex;
  border-top: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}

.direction {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-studio-footer {
  color: #f4f4fd;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer {
  background: #2e2f42;
  padding: 100px 0 100px;
}

.link-link-footer {
  margin-bottom: 16px;
}

/* скидання */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

a {
  display: block;
}
